:root {
  --primary-100: rgb(255, 169, 41);
  --primary-50: rgba(255, 169, 41, 0.5);
  --primary-30: rgba(255, 169, 41, 0.3);
  --primary-10: rgba(255, 169, 41, 0.1);
  --secondary-100: rgb(0, 212, 146);
  --secondary-50: rgba(0, 212, 145, 0.5);
  --secondary-30: rgba(0, 212, 145, 0.1);
  --accent-color: rgb(161, 136, 127);
  --text-color: rgb(234, 234, 234);
  --bg-primary: rgb(5, 5, 5);
  --bg-primary-50: rgba(5, 5, 5, 0.75);
  --bg-secondary: rgb(21, 25, 28);
  --bg-secondary-40: rgba(21, 25, 28, 0.4);
  --font-family-primary: 'Sora', sans-serif;
  --font-family-secondary: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-primary);
  position: relative;
  overflow-x: hidden;
  color: var(--text-color);
  font-family: var(--font-family-secondary);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

h1 {
  font-family: var(--font-family-primary);
  font-weight: 900;
}